@media (max-width: 515px) {

body {background: #FFFFFF;
	  font-size:18px; font-family: 'PT Sans', sans-serif; margin:0 auto;  width:98%;
}

.top-header {
  display:none;
}

#custom-search {
  display:none;
}

#col1 {
  width:100%;
  background-color:#329988;
}

#col2 {
  width:100%;
}

#col2n {

}

}

@media (min-width:516px) and (max-width:900px) {

body {background: #FFFFFF;
	  font-size:18px; font-family: 'PT Sans', sans-serif; margin:0 auto;  width:98%;
}

.top-header {
  width:100%;
  background-color:#EEEEEE;
  font-size:17px; font-family: 'PT Sans', sans-serif;
  padding-top:5px;
  padding-bottom:5px;
  text-align:center;
}

a.top-header {font-size:19px; font-family: 'PT Sans', sans-serif; color:#FFFFFF; font-weight:bold; text-decoration:none;}

#custom-search {
  display:none;
}

#col1 {
  float:left;
  width:200px;
  background-color:#329988;
}

#col2 {
  float:right;
  width:100%;
  margin-left:-210px;

}

#col2n {
  padding-left:210px;
}

}

@media (min-width:901px) {

body {background: #FFFFFF;
	  font-size:18px; font-family: 'PT Sans', sans-serif; margin:0 auto;  width:98%;
}

.top-header {
  width:100%;
  background-color:#EEEEEE;
  font-size:19px; font-family: 'PT Sans', sans-serif;
  padding-top:5px;
  padding-bottom:5px;
  text-align:center;
}

a.top-header {font-size:19px; font-family: 'PT Sans', sans-serif; color:#FFFFFF; font-weight:bold; text-decoration:none;}

#custom-search {
  position:  absolute;
  top: 20px;
  left: 60%;
}

#col1 {
  float:left;
  width:200px;
  background-color:#329988;
}

#col2 {
  float:right;
  width:100%;
  margin-left:-210px;

}

#col2n {
  padding-left:210px;
}

}


a:hover {text-decoration:underline;}

a {text-decoration:none; color:#0033FF;}

a:hover.nav {text-decoration:underline; color:white; font-family:arial;}

a.nav {text-decoration:none; color:white; font-family:Arial; font-size:12.5px;}

h1 {font-size:24px; font-family: 'PT Sans', sans-serif; font-weight:bold; margin-top:15px; margin-left:10px; color:#FFFFFF; text-align:left;}

h2 {font-size:22px; font-family: 'PT Sans', sans-serif; font-weight:bold;}

h3 {font-size:18px; font-family: 'PT Sans', sans-serif; font-weight:bold; margin-bottom:0px;}

table.listing {font-size:18px; font-family: 'PT Sans', sans-serif;}

table.table-content {font-family: 'PT Sans', sans-serif; font-size:14px;}

.commonfooter {font-size:11px; font-family:Arial;}
.ftheader {font-size:13px; font-family:Arial;  font-weight:bold}

table.main {font-family:verdana; font-size:13px;}

.breadcrumb {font-family:verdana; font-size:15px;}

.menu {border-bottom: 1px solid #ccc; padding: 2px 2px;color:#ffffff; font-weight:bold; font-size:13px; font-family: 'PT Sans', sans-serif; }
.sub {margin-left:12px;}
.sub-menu {border-bottom:0px; margin-left:8px; font-size:10px; padding:0 0 0 0; color:#ffffff; font-weight:bold; font-size:12px; font-family: 'PT Sans', sans-serif; }

#srchResult iframe { 
        width: 760px; 
} 

#colwrap {
  width:100%;
}

#left-nav { display: block; text-align:left;}
#left-nav ul { list-style: none; margin: 0px; padding: 0px; }
#left-nav ul li { list-style: none; text-align: left;}
#left-nav ul li a { display: block; padding: 5px 10px; color:#fff; }
#left-nav ul li a:hover { background-color: #ccc; color: #fff; }
#left-nav ul li a:visited { color: #cc99ff; }

table.top {
  background-color:#336699;
  margin: 0 0 0 0;
  width:100%;
}

#nextpage {
  float:right;
}

.top-header {
  width:100%;
  background-color:#EEEEEE;
  font-size:19px; font-family: 'PT Sans', sans-serif;
  padding-top:5px;
  padding-bottom:5px;
  text-align:center;
}

a.top-header {font-size:19px; font-family: 'PT Sans', sans-serif; color:#FFFFFF; font-weight:bold; text-decoration:none;}
